@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@layer utilities {
  .buttonStyle {
    @apply bg-gradient-to-r from-fuchsia-400 via-fuchsia-500 to-cyan-500 text-white px-6 py-2 rounded-sm hover:from-fuchsia-600 hover:to-cyan-600 transition-colors cursor-pointer;
  }
  .sectionContainer {
    @apply w-full min-h-50 px-10 md:px-20 py-5;
  }
  .sectionHeader {
    @apply text-neutral-200 text-4xl font-bold;
  }
  .inputStyle {
    @apply p-2 rounded border border-neutral-700 bg-neutral-800 text-neutral-100 placeholder-neutral-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-500;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}
